@{
    ViewData["Title"] = "AboutUs";
}


<!-- Banner -->
<div class="Banner" style="background-image: url('@Url.Content("~/Images/Newsletter.png")')">
    <h1>About Us</h1>
</div>

<!-- About Content -->
<section class="AboutContent">
    <div class="about-text">
        <h2>Who We Are</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ratione labore dolores dolorum? Quam, rerum suscipit? Aut suscipit voluptatibus earum? Dignissimos id saepe quibusdam eligendi est, architecto rerum hic quisquam amet illo nihil debitis repellat, officiis distinctio assumenda. Quia aperiam iste nemo officia amet dolor obcaecati eos sequi odit quidem.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quibusdam vero reprehenderit amet itaque est adipisci. Pariatur, quibusdam fugiat cumque autem rerum praesentium omnis aut ea quae quaerat sint impedit!
        </p>
    </div>
    <div class="about-image">
        <img src="~/Images/whoweare.png" alt="About Us Image">
    </div>
</section>


<!-- Our Story Section -->
<section class="OurStory">
    <div class="story-image">
        <img src="~/Images/OurStory.png" alt="Our Story Image">
    </div>
    <div class="story-text">
        <h2>Our Story</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor ratione labore dolores dolorum? Quam, rerum suscipit? Aut suscipit voluptatibus earum? Dignissimos id saepe quibusdam eligendi est, architecto rerum hic quisquam amet illo nihil debitis repellat, officiis distinctio assumenda. Quia aperiam iste nemo officia amet dolor obcaecati eos sequi odit quidem.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quibusdam vero reprehenderit amet itaque est adipisci. Pariatur, quibusdam fugiat cumque autem rerum praesentium omnis aut ea quae quaerat sint impedit!
        </p>
    </div>
</section>


<!-- Mission & Vision -->
<section class="AboutMission">
    <div class="mission">
        <h2>Mission</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam minus tempora maxime earum magni mollitia, odio officia eum dignissimos, velit, similique vero id accusamus numquam explicabo. Assumenda sit explicabo architecto.</p>
    </div>
    <div class="vision">
        <h2>Vision</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam minus tempora maxime earum magni mollitia, odio officia eum dignissimos, velit, similique vero id accusamus numquam explicabo. Assumenda sit explicabo architecto.</p>
    </div>
</section>


<!-- Brand Section -->
<section class="brands">
    <h2>Brands</h2>
    <div class="brands-container">
        <p>Sony</p>
        <p>Bose</p>
        <p>JBL</p>
        <p>Skullcandy</p>
        <p>Sennheiser</p>
        <p>Beats</p>
        <p>Philips</p>
    </div>
</section>



