@model VibePhone.ViewModel.ViewDashboard

@{
    ViewData["Title"] = "Faqs";
}

<!-- Banner -->
<div class="Banner" style="background-image: url('@Url.Content("~/Images/Newsletter.png")')">
    <h1>Faqs</h1>
</div>

<!-- Faqs Sections -->

<section class="FaqsContainer">

    <div class="Faqs-card">
        <div class="Faqs-content">
            <p class="Faqs-Tile">
                Question 1
            </p>
            <p class="Faqs-text">
                "Amazing quality and fast delivery. Totally satisfied!"
            </p>

        </div>
    </div>

    <div class="Faqs-card">
        <div class="Faqs-content">
            <p class="Faqs-Tile">
                Question 2
            </p>
            <p class="Faqs-text">
                "Amazing quality and fast delivery. Totally satisfied!"
            </p>

        </div>
    </div>

    <div class="Faqs-card">
        <div class="Faqs-content">
            <p class="Faqs-Tile">
                Question 3
            </p>
            <p class="Faqs-text">
                "Amazing quality and fast delivery. Totally satisfied!"
            </p>

        </div>
    </div>

    <div class="Faqs-card">
        <div class="Faqs-content">
            <p class="Faqs-Tile">
                Question 4
            </p>
            <p class="Faqs-text">
                "Amazing quality and fast delivery. Totally satisfied!"
            </p>

        </div>
    </div>

    <div class="Faqs-card">
        <div class="Faqs-content">
            <p class="Faqs-Tile">
                Question 5
            </p>
            <p class="Faqs-text">
                "Amazing quality and fast delivery. Totally satisfied!"
            </p>

        </div>
    </div>

    <div class="Faqs-card">
        <div class="Faqs-content">
            <p class="Faqs-Tile">
                Question 6
            </p>
            <p class="Faqs-text">
                "Amazing quality and fast delivery. Totally satisfied!"
            </p>

        </div>
    </div>




</section>