<div class="checkorder">
    <h2>Order Successful!</h2>
    <p>Thank you for your purchase. Your order has been placed successfully.</p>

    <a href="@Url.Action("Products", "Front")" class="checkorder-btn">Back to Products</a>
</div>
