:root {
    --primary-color: black;
    --secondary-color: #e3e3e3;
/*    --heading-size: 28px;*/
/*    --font-size: 16px;*/
/*    --color: #e7e7e7;*/
}

* {
    padding: 0px;
    margin: 0px;
    font-family: Poppins;
}

                                                /* Sidebar */

.container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: row;
}


.logo
{
    width:100px;
}

.Sidebar {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 20px;
    justify-content: space-evenly;
    overflow: hidden;
    box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
}

.username {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 500;
}

.sidebar-menu {
    list-style: none;
    width: 100%;
}

    .sidebar-menu li {
        margin: 12px 0;
    }

    .sidebar-menu a {
        color: var(--primary-color);
        text-decoration: none;
        font-size: 12px;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        width: 100%;
    }
      
        .sidebar-menu a i {
            margin-right: 10px;
        }

        .sidebar-menu a:hover {
            border-radius:5px;
            background-color: var(--secondary-color);
        }

        .sidebar-menu a i.arrow-icon {
            margin-left: auto;
            font-size: 12px;
            opacity: 0.8;
        }

.Sidebar-logout {
    width: 100%;
    text-align: center;
}

    .Sidebar-logout a {
        color: var(--primary-color);
        text-decoration: none;
        font-size: var(--font-size);
    }
    .Sidebar-logout a:hover {
        text-decoration: underline;
    }


                                            /* MainContent */

.Main-Content {
    position: absolute;
    left: 20%;
    width: 80%;
    height: 100vh;
    overflow: hidden;
}

    .Main-Content > div {
        position: absolute;
        top: 0;
        left: 0;
    }
h1 {
    color: var(--secondary-color);
    text-align: center;
    padding: 30px 0px;
}
.main-header {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 50px;
    padding: 0px 30px;
    background-color: white;
    color: var(--primary-color);
    box-shadow: 0 1px 10px rgb(0 0 0 / 20%);
}

    .main-header h3 {
        font-weight: 500;
        font-size: 14px;
    }

.main-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.section {
    width: 23%;
    height: 80px;
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-number {
    font-size: 24px;
    font-weight: bold;
    color: var(--primary-color);
}

.section-label {
    font-size: 12px;
    text-transform: uppercase;
    color: var(--primary-color);
    font-weight: 600;
}

.icon {
    font-size: 28px;
    color: var(--secondary-color);
}
/* Add Post Section */
.add-post-form {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-items: center;
    gap: 20px;
    /* width: 700px; */
    padding: 10px 70px;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: end;
    /* gap: 20px; */
    flex-wrap: wrap;
}

    .form-row label {
        width: 200px;
        font-weight: 500;
        font-size: var(--font-size);
        color: var(--primary-color);
    }

    .form-row input,
    .form-row select,
    .form-row textarea {
        flex: 1;
        padding: 10px;
        font-size: var(--font-size);
        border: 1px solid var(--secondary-color);
        border-radius: 5px;
    }


.submit-btn {
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    font-size: var(--font-size);
    border: none;
    border-radius: 5px;
    cursor: pointer;
     float: right; 
}

    .submit-btn:hover {
        color:black;
        background-color: var(--secondary-color);
    }

/* All Post */
.custom-main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 70px;
}

/* Search Section */
.custom-search {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    color: var(--primary-color);
}

.custom-search-input {
    flex: 1;
    padding: 10px;
    font-size: var(--font-size);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    /* min-width: 20px; */
}

.custom-search-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: var(--font-size);
    border-radius: 5px;
    cursor: pointer;
}

    .custom-search-btn:hover {
        color:black;
        background-color: var(--secondary-color);
    }

/* Post Entries */
.custom-post {
    /* background-color: var(--secondary-color); */
    padding: 14px 16px;
    border-radius: 5px;
    border: 1px solid var(--secondary-color);
    margin-bottom: 10px; /* Thoda spacing posts ke beech */
}

.custom-post-content {
    display: flex;
    justify-content: space-between; /* Text left, button right */
    align-items: center;
}

.custom-post-text {
    display: flex;
    flex-direction: column; /* Title upar, categories neeche */
    gap: 4px;
}

.custom-post-title {
    font-size: var(--font-size);
    font-weight: 500;
    color: var(--primary-color);
}

.custom-post-Categories {
    font-size: 0.9em; /* Thodi choti font */
    color: black;
}

.custom-btn {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 8px 16px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    transition: 0.3s;
}

    .custom-btn:hover {
        color: black;
        background-color: var(--secondary-color);
    }

    .custom-btn.danger {
        background-color: #ad0000;
    }

        .custom-btn.danger:hover {
            color: white;
            background-color: red;
        }



/*.user-card {
    display: flex;*/
    /* justify-content: space-between; */
    /*align-items: center;
    background-color: var(--secondary-color);
    padding: 16px;
    border: 1px solid var(--secondary-color);
    border-radius: 8px;
    flex-wrap: wrap;
    gap: 10px;
}*/

/*.user-details {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-size: var(--font-size);
    color: var(--primary-color);
}

.user-btn {
    background-color: var(--secondary-color);
    color: white;
    border: none;
    padding: 8px 14px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

    .user-btn.user-danger {
        background-color: #ad0000;
    }

        .user-btn.user-danger:hover {
            background-color: red;
        }*/
/* Comments */

.comment-body {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 10px 70PX;
}

.comment-card {
/*    background-color: var(--secondary-color);*/
    border: 1px solid var(--secondary-color);
    padding: 14px 18px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    /* justify-items: center; */
    align-items: start;
}

.comment-author {
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 5px;
}

.comment-text {
    font-size: var(--font-size);
    color: var(--primary-color);
    margin-bottom: 5px;
}

.comment-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    color: #777;
}

.comment-btn {
    background-color: #ad0000;
    color: white;
    border: none;
    width: 73px;
    height: 38px;
    padding: 5px 12px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 13px;
}

    .comment-btn:hover {
        background-color: red;
    }

/* Transitions */

.Dashboard,
.AddPosts,
.Categories,
.AllPosts,
.Comments {
    opacity: 0;
    visibility: hidden;
    transform: translateY(30px);
    transition: all 0.5s ease-in-out;
    width: 100%;
    height: 100%;
}

    .Dashboard.active,
    .AddPosts.active,
    .Categories.active,
    .AllPosts.active,
    .Comments.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        z-index: 1;
        overflow-x: auto;
    }
