:root {
    --primarycolor: black;
    --secondarycolor: #383838;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.Lcontainer {
    /*background-color: #f7f7f7;*/ /* Soft white background */
    /*color: #333;*/ /* Dark text */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Common container style for both forms */
.loginContainer,
.RegistrationContainer {
    background: #fff; /* Pure white card */
    padding: 40px 50px;
    border-radius: 12px;
    box-shadow: 0 4px 30px rgba(0,0,0,50%);
    width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 25px;
    font-size: 24px;
    font-weight: 600;
    color: #222;
}

.form-group {
    margin-bottom: 18px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    color: #444;
    font-size:14px;
}

input.form-control {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    color: #333;
    transition: 0.3s;
}

    input.form-control:focus {
        border-color: #007bff;
        outline: none;
        box-shadow: 0 0 6px rgba(0,123,255,0.4);
    }

.text-danger {
    color: #e63946;
    font-size: 14px;
}

.btn {
    padding: 10px 18px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 500;
    transition: 0.3s;
    width: 100%;
    margin-top: 10px;
}

.btn-primary {
    background-color: var(--primarycolor);
    color: #fff;
}

    .btn-primary:hover {
        background-color: var(--secondarycolor);
    }

a {
    color: var(--primarycolor);
    text-decoration: none;
    transition: 0.3s;
    display: inline-block;
    margin-top: 10px;
    font-size: 12px;
}

    a:hover {
        text-decoration: underline;
    }
